<h2 class="ui grey header">
  <img class="ui image" src="./assets/Film-icon.png">
  <div class="content">
    Do you know your movies?
  </div>
</h2>
<form class="ui form">
  <div class="field">
    <input type="text" name="movie-name" placeholder="Enter Movie Name" #movieName>
  </div>
  <button class="ui button primary" (click)="getMovieDetails(movieName.value)" type="submit">
    Get the movie details
  </button> 
</form>
<div *ngIf="movieData" class="ui raised segment">
  <h3 *ngIf="movieData">Movie: {{movieData.Title}}</h3>
  <img *ngIf="movieData" src= {{movieData.Poster}} [style.height.px]='imageHeight'>
  <h3>Description:</h3>
  <p *ngIf="movieData"> {{movieData.Plot}}</p>
  <h3>Director:</h3>
  <p *ngIf="movieData"> {{movieData.Director}}</p>
  <h3>Rated:</h3>
  <p *ngIf="movieData"> {{movieData.Rated}}</p>
</div>

